.app{
  margin: 5px;
  padding: 5px;
  align-content:center;
}
h2{
  font-family: serif;
  text-align:center;
}
h3{
  font-family:serif;
  text-align:center;
}
body{
  align-content: center;
  background-color: rgb(170, 162, 162);
}
img {
  border-radius: 10px 40px 10px 40px;
  border: rgb(89, 39, 39) solid 2px;
}
.tourList{
  width: 400px;
}
.rmrlInfo{
  font-size:12;
}
button{
  background: linear-gradient(to right, rgb(63, 101, 74),rgb(161, 161, 138));
  border-color: gray;
}